<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aajeevika.clf">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AajeevikaCLF" >

        <activity
            android:name=".view.application.ActivitySplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".location.activity.PickLocationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".location.activity.MapsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.auth.ActivitySelectLanguage"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.auth.ActivityRegister"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.auth.ActivityOtpVerification"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.auth.ActivityLogin"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.auth.ActivityEnterMobile"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.auth.ActivityResetPassword"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.documents.ActivityDocuments"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.home.ActivityDashboard"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AajeevikaCLF.DarkStatusBar"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.home.ActivitySearchProduct"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AajeevikaCLF.DarkStatusBar"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.application.ActivityNotifications"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.application.ActivityFaqs"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.application.ActivityRatingAndReviews"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.grievance.ActivityGrievance"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.grievance.ActivityCreateGrievance"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.interest.ActivityMyInterests"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.interest.ActivityInterestDetails"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.application.ActivityWebView"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.product.ActivityDraft"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.sales.ActivitySales"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.product.ActivitySubCategory"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.product.ActivityProductDetail"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.sales.ActivityAddNewSale"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AajeevikaCLF.OffWhite"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.product.ActivityAddProductStepOne"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AajeevikaCLF.OffWhite"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.product.ActivityAddProductStepTwo"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AajeevikaCLF.OffWhite"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.product.ActivityAddProductStepThree"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AajeevikaCLF.OffWhite"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.profile.ActivityProfile"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.profile.ActivityEditProfile"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.profile.ActivityChangeAddress"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.sales.ActivityAddSaleProducts"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.order.ActivityOrderDetailsCompleted"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.order.ActivityOrderDetailsPending"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.order.ActivityMyOrder"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.buy.ActivityBuyManager"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.buy.ActivityBuyDetail"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.shgindividual.ActivityShgInd"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />


        <activity
            android:name=".view.survey.ActivitySurvey"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />


        <activity
            android:name=".view.grievance.ActivityGrievanceChat"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.application.ActivityAboutUs"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.application.ActivityVideoPlayer"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />

        <service
            android:name=".utility.FireBaseMessage"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>

    </application>

</manifest>